/* Nativesim-specific overlay to the standard DeviceTree
 *
 * Enables littlefs on storage partition
 */

/ {
    fstab {
        compatible = "zephyr,fstab";

        lfs0: lfs0 {
            compatible = "zephyr,fstab,littlefs";
            partition = <&storage_partition>;  // bind to your fixed partition
            mount-point = "/lfs:";
            automount;
            // Optional flags:
            // readonly;                      // if you need RO mount
            read-size = <16>;
            prog-size = <16>;
            cache-size = <64>;
            lookahead-size = <32>;
            block-cycles = <512>;
        };
    };

    sram123: memory@20000000 {
        compatible = "mmio-sram";
        reg = <0x20000000 DT_SIZE_K(640)>;
    };
};

&storage_partition {
    reg = <0x000fc000 0x00080000>; // 512 KiB could be up to 1MiB
    label = "storage";
};
